.cproject
.project
*.o
*.a
*.obj
*.lib
a.out
*.pyc
Makefile
#Makefile.pre
*.log
build/
.pydevproject
Modules/config.c
Parser/pgen
config.status
config.status.lineno
pyconfig.h
python
Doc/tools/docutils/
Doc/tools/jinja2/
Doc/tools/sphinx/
Doc/tools/pygments/
*.swp
*~
